name: CI-CD Docker JPetStore

# Le workflow se déclenche à chaque push sur la branche main
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # 1. On récupère le code du dépôt
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. On installe Java pour compiler et tester
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      # 3. Étape de TEST (Comme demandé dans votre workflow)
      - name: Run Tests
        run: mvn test

      # 4. Connexion sécurisée à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5. Build de l'image Docker et Push final
      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Remplacez 'jpetstore-app' par le nom que vous voulez sur Docker Hub
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/jpetstore-app:latest
